* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#header1 {
    background-color: darkcyan;
    text-align: center;

}
#header1 .navbar a {
    color: aliceblue;
    padding: 0.5rem;    
}
#header1 .navbar a:hover{
    color: black;
    background-color: #fff;
    transition: .4s;
    letter-spacing: 0.15rem;
    border-radius: 10px;
}
.movies {
    width: 100%;
    display: flex;
    background-color: darkcyan;
    flex-wrap: wrap;
}
.movies li{
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    margin: 0.8rem;
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    background: darkslategrey;
}
.movies li img{
    max-width: 250px;
    border-radius: 10px;
}
.movies li h2 {
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem 0.7rem 0;
    margin-top: auto;
    font-family: "Oswald",sans-serif;
}