/*   İşlemler     */
* {
    padding: 0;
    margin : 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
    transition: .4s;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}
/*  navbar */ 
#navbar{
    color:  black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 80px;
}
#navbar ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}
#navbar ul li a {
    padding: 0.5rem;
}
#navbar ul li a:hover{
    background: lightpink;
    border-radius: 5px;
}
/* Home */
#home {
    display: flex;
    padding-top: 2rem;
    background-color: rgb(10, 10, 20);
    height: 80vh;
}
#home img {
    display: flex;
    max-width: 25rem;
    max-height: 25rem;
    float: left;
    border-radius: 25px;
    flex-direction: column;
    margin-left: 3rem;
    margin-top: 3rem;
}
#home p {
    display: flex;
    text-align: left; 
    color: lightgray;
    flex-direction: column;
}
#home #cv {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: medium;
    color: lightpink;
    text-align: center;
}
#home #cv  a:hover{
    color: blueviolet;
    background-color: #fff;
    border-radius: 1rem;
    border: 1px solid blueviolet;
    
}
/* Hakkımda section*/
#hakkımdadetay{
    background-color: rgb(10, 10, 20);
    height: 70vh;
}
#hakkımdadetay h3{
    color: rgb(136, 254, 254);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.05rem;
}
#hakkımdadetay .items {
    display: flex;
    justify-content: space-around;
    max-width: 100%;    
}
#hakkımdadetay .items .item{
    color: #fff;
    margin-top: 1rem;
    padding: 5rem;
}
#hakkımdadetay .items .item ul li{
    margin-top: 2rem;
    list-style-type: none;
    text-align: center;
}
/* tarih saat*/
#tarih-bolumu {
    font-size: 1rem;
    color:#fff;
}
#saat-bolumu {
    font-size: 1rem;
    line-height: 2rem;
    margin-top:0.1rem;
}
/* footer */
#girisson{
    background-color: rgb(10, 10, 20);
    height: 10rem;
}
#girisson .sosyalmedya{
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
}
#girisson .sosyalmedya ul li{
    list-style-type: none;
    padding: 0.2rem;
}
/* ozgecmis */
#ozg {
    color: rgb(136, 254, 254);
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
    padding-top: 0.5rem;
}
#ozg a:hover {
    background-color: rgb(136, 254, 254);
    color: #000;
    border-radius: 5px;
}