* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#cards {
    background-color: black;
}
#cards img{
    border-radius: 2.5rem;
}
.bg-sp{
    background-color: rgb(60, 50, 40);
    color: bisque;
}
.bg-ant{
    background-color: antiquewhite;
    color: black;
}
.bg-secondary {
    color: aliceblue;
}
.navbar a{
    text-decoration: none;
    color: bisque;
    font-size: 1rem;
    letter-spacing: 0.2rem;
}
.navbar a:hover{
    background-color: bisque;
    color: rgb(60, 50, 40);
    border-radius: 5px;
    transition: .4s;
    letter-spacing: 0.4rem;
}
#ekbilgiler {
    background-color: rgb(60, 50, 40);
}
#ekbilgiler h6 {
    text-align: center;
    padding-top: 2.5rem;
    color: antiquewhite;
}
#ekbilgiler .container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: 2.5rem;
}
#ekbilgiler .container .card {
    background-color: antiquewhite;
    height: 100%;
    padding: 5px;
    margin: 1rem;
}
#ekbilgiler .container .card p {
    font-size: 0.75rem;
}
