/*   ÖZ GEÇMİŞ SAYFASI İÇİN GENEL CSS KODLARI   */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #fff;
}
a:hover{
    text-decoration: none;
    color: #fff;
}
/* navbar    */
#nav-og {
    background-color: black;
    color: #fff;
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}
#nav-og a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 0.1rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nav-og a:hover {
    background-color: #fff;
    color: black;
    transition: .4s;
    border-radius: 4px;
    letter-spacing: 0.3rem;
    overflow: hidden;
}
#nav-og h5 {
    margin: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#nav-og h5:hover{
    letter-spacing: 0.3rem;
    background-color: #fff;
    color: black;
    transition: .4s;
    border-radius: 4px;
}

/* background image  */
.backimage {
    width: 100%;
    height: 100vh;
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 5rem;
}
.backimage img {
    width: 15rem;
    height: 15rem;
    border-radius: 10rem;
    align-self: center;
}
.backimage h4 {
    margin-top: 0.5rem;
}
.backimage h4 a {
    padding: 0.1rem;
    color: #fff;
    background-color: darkgrey;
}
.backimage h4 a:hover{
    overflow: hidden;
    color: darkgrey;
    background-color: black;
    transition: .4s;
    border-radius: 5px;
    letter-spacing: 0.1rem;
}
.backimage ul li{
    padding-top: 1rem;
    list-style: none;
    color: #fff;
    font-size: 1rem;
    border-radius: 1px;
}
.backimage h6 {
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;

    border-radius: 2px;
    letter-spacing: 0.1rem;
    margin-right: 1rem;
    margin-top: 2rem;
    justify-content: flex-start;
}
.backimage h6 a:hover{
    background-color: #000;
    color: darkgray;
    letter-spacing: 0.2rem;
    transition: .4s;
    border-radius: 5px;
}
.backimage p {
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.1rem;
}
/* ön bilgi */
.container4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: darkgray;
    padding: 1rem;
}
/* container fluid aside kısmı */
#ogbilgis .ogbilgi {
    height: 100%;
    
}
.edu {
    justify-content: center;
    text-align: center;
    padding: 4rem;
    
}
.edu h3{
    text-decoration: underline;
    color: rgb(101, 64, 18);
}
#ogbilgis h6{
    color: #000;
    text-align: center;
    padding-bottom: 1rem;
}
#ogbilgis h6 a{
    color: #000;
    border-radius: 3px;
}
#ogbilgis h6 a:hover{
    transition: .4s;
    background-color: black;
    color: aliceblue;
    letter-spacing: 0.1rem;    
}
.fdiv {
    text-align: center;
    color: #000;
}
.fdiv i{
    color: #000;
}